.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.dish__image {
  height: 300px;
  width: 300px;
  padding: 93px 10px;
  background-color: #f4f4f4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
